h1 {
    padding-bottom: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
}

#authorName {
    color: black;
}

#copyright {
    color: black;
}